/** {
  border: 1px solid white;
}*/

section > p {
  border-bottom: 1px solid blue;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}

header, footer {
  background: #444;
  overflow: auto;
}

#title {
  margin-left: 15%;
  align-self: flex-start;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Play', sans-serif;
  text-shadow: 0 1px 0 #ccc, 
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);
}

/*header > nav {
  border: 1px solid blue;
}*/

a:hover, a:active {
  background-color: #00ccff;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding: .5em 1em;
}

nav li {
  list-style-type: none;
  display: inline;
}

/*#ucp {
  background: red;
}*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-size: 16px;
  height: 100vh;
  background: transparent url('https://i.imgur.com/iMMWqYR.jpg') center/cover no-repeat fixed;
}

.image-big {
  /*padding: 0 2em;*/
  height: 40%; /* Stop changing, 40 percent is an accurate base value. */
  width: 40%;
}

.image-big:nth-last-of-type(2n+1) {
  padding-left: 2em;
}

.image-big:nth-last-of-type(2n) {
  padding-right: 2em;
}

section > div {
  display: flex;
  margin: 1em 6em;
}

section > div:nth-child(2n) {
  flex-flow: row-reverse;
  text-align: right;
}

article > h2 {
  padding-bottom: 1em;
  margin: 0;
  background: #444;
}

article > p {
  margin: 0;
  background: #444;
}

article {
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 720px) {
  section > div {
    flex-direction: column;
  }
}