// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0vh;
  overflow: hidden;
  transition: top ease-in-out 0.3s;
}

.page-up {
  top: -100vh;
}

.page-down {
  top: 100vh;
}

main {
  background-image: url("/assets/images/background.jpg");
  background-position: center center, center 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  display: flex;

  h1 {
    font-size: 4em;
    font-family: 'Play', sans-serif;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
  }

  > section {
    margin-top: 1em;

    > p {
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    }

    > a {
      margin: 0 1em;
      text-decoration: none;
      padding: 0.3em;
      background: rgba(0, 124, 158, 0.5);
      color: white;
      font-family: 'Play', sans-serif;
      border-radius: 0.2em;
      border: 2px solid gray;
      box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.3);
    }
  }
}

.links {
  display: flex;
  align-items: center;
}

.forum-link {
  font-size: 2em;
}

a.button {
  text-decoration: none;
  color: grey;
}